<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="ISO-8859-1">
	<title>Customer Homepage</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/Ethanstyle.css">
	<meta name="Page Description" content="Browsing Datasets for Pinegap">
	<meta property="og:title" content="Datasets">
	<meta property="og:description" content="Browsing Datasets for Pinegap">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
	<div id = "main">
		<div class="super">
            <div class="nav">
            	<div class="container text-center">
            		<ul>
						<li><a th:href="@{/users}">Manage Users</a></li>
						<li><a th:href="@{/register}">Register</a></li>
						<li><a th:href="@{/login}">Login</a></li>
					</ul>
            	</div>
            </div>
         </div>
	</div>
	
</body>
</html>